.arborescence li {
    list-style: none;
}

.arborescence .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: black solid;
    border-top: 2px;
    border-left: 2px;
    transform: rotate(-45deg);
    cursor: pointer;
}

.arborescence .arrow.oppen {
    transform: rotate(45deg);
}

.arborescence .namecat {
    margin-left: 5px;
    cursor: pointer;
}

.sous-cat {
    display: none;
}

.sous-cat.unfold {
    display: block;
}