#home, #cnx{
    width: 100% !important;
    height: calc(100vh - 74px) !important;
    background-image: url("../images/Fond_InfoDocs.png");
    overflow-x: none;
    overflow-y: hidden;
}

body>footer{
    display: flex;
    justify-content:center;
    align-items:flex-end;
    
    height: 150px;
}

#button-addon2 {
    margin-left:auto;
    margin-right: auto;
}

#search{
    margin-top: 30px;
}

i{
    color: black;
}
i.redIcon{
    color: #EB5745;
}
i.wIcon{
    color: white;
}

#recherche h4{
    margin-top: 5px;
}

#recherche input{
    border: 3px solid #EB5745;
    border-radius: 65px;

    height: 45px;
}

.tags>button,
.carte{
    border: none;
    border-radius: 18px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    background-color: white;

    padding: 15px;
}

#arbo>a{
    text-align: right;
    color: black;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}
.tags h5{
    margin: 10px 15px;
}
.tags button{
    padding: 8px 15px;
    font-weight: 500;

    border-radius: 13px;
    margin: 5px 10px;

    /* background-color:#EB5745 !important;
    color: white; */
}
.tags.research button{
    background-color:#EB5745 !important;
    color: white;
}
#tags {
    position: absolute;
    z-index: 1;
    background-color: white;
    display: none;
    width: 100%;
    /* border: 1px red solid; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 10px;
}
#tags p {
    padding: 5px;
}
#tags p:hover {
    color: white;
    background-color: #EB5745;
    border-radius: 5px;
}

#search>div:first-child>div:first-child{
    padding: 15px 20px;
}
#search>div:first-child>div:first-child h5{
    margin-bottom: 20px;
}
#search>div:first-child>div:first-child input{
    border-radius: 8px;
    border: 2px solid #b5b5b5;
    width: 100%;
    height: 2.2em;

    margin-bottom: 15px;
}
#search>div:first-child>div:last-child{
    padding: 10px;
}

.form_id{
    margin: 100px auto;
    padding: 5%;
    background-color: #ECECEC;
    text-align: start;

    border-radius: 24px;
}
.form_id a{
    color: black;
    text-decoration: none;
}
.form_id a:hover{
    color: red;
}

.toggle-pwd { 
    float: right;
    position: relative;
    z-index: 10;
    
    cursor: pointer; 
    margin-top: -35px;
    margin-right: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                   BOUTONS                                  */
/* -------------------------------------------------------------------------- */

.btnMain{
    background-color: #EB5745 !important;
    color: white;

    border: none;
    border-radius: 15px;
    font-weight: 600;
    font-size: 1.2em;
    
    transition: all 0.3s ease;
}
.btnMain:hover{
    background-color: #EB5745 !important;
    box-shadow: 5px 5px 10px 5px #eb584557;

}

.btnValidation{
    padding: 5px 15px;
    width: 300px;

    margin-top: 50px;
}

.centerDiv{
    display: flex;
}

.btnSecond{
    background-color: white;
    color: black;
    text-decoration: none;

    padding: 4px 10px;

    border: 2px solid #EB5745;
    border-radius: 8px;
    
    font-weight: 600;
    font-size: 1em;

    transition: all 0.3s ease;
}
.btnSecond:hover{
    background-color: #eb584536;
    color: black;
}

.btnSuppr{
    color: #EB5745;
    text-decoration: underline;

    transition: all 0.3s ease;
}.btnSuppr:hover{
    color: #EB5745;
    font-weight: 600;
}





#recherche+table tr:nth-child(2n+1):hover {
    --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color);
}

/* #recherche+table tr:nth-child(2n):hover + tr { */
#recherche+table tr:nth-child(2n) {
    /* --bs-table-accent-bg: var(--bs-table-hover-bg);
    color: var(--bs-table-hover-color); */
    /* display: block;
    width: 100%; */
}